@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lexend+Giga&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Fjalla One", sans-serif;
}

/* Navigation */
header {
	--background: transparent;
	--text: #fff;
	--text-inverse: #000;

	align-content: center;
	background: var(--background);
	font-size: 1.2rem;
	padding: 1rem;
	display: flex;
	position: fixed;
	color: var(--text);
	justify-content: space-between;
	width: 100%;
	z-index: 999;
}
.nav-list {
	display: flex;
	position: relative;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
}
.logo a {
	color: var(--text);
	font-family: "Lexend Giga", sans-serif;
	font-size: 1.2rem;
	font-weight: 800;
	text-decoration: none;
}
.list-item {
	color: var(--text);
	text-decoration: none;
	padding: 1rem;
	margin-right: 2rem;
}
/* If Scrolled */
.scrolled {
	--background: #fff;
	--text: #000;
	--text-inverse: #fff;
	transition: 0.5s;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}
.toggle-menu {
	color: var(--text);
	display: none;
	font-size: 1.5rem;
	position: absolute;
	right: 2rem;
}

/* Banner */
.main-banner {
	background-attachment: fixed;
	background-position: center;
	color: #fff;
	display: table;
	font-size: 1.2rem;
	height: 800px;
	background-image: url("https://www.wallpaperflare.com/static/299/128/978/triumph-bonneville-bobber-2018-4k-black-wallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30vh 0;
	text-align: center;
}
.main-banner h1 {
	font-size: 3rem;
}
.main-banner p {
	padding: 1.2rem 3rem;
}
.dealer-btn {
	background-color: rgba(0, 0, 0, 0);
	border: 3px solid rgba(240, 240, 240, 0.8);
	border-radius: 10px;
	color: rgba(240, 240, 240, 0.8);
	cursor: pointer;
	font-size: 1.5rem;
	outline: none;
	margin-top: 50px;
	height: auto;
	width: auto;
	padding: 0.8rem 1.2rem;
}
.dealer-btn:hover {
	color: #fff;
	border-color: #fff;
}

/* Deals Section */
#deals-section {
	font-size: 1.5rem;
	padding: 2rem;
	text-align: center;
	vertical-align: center;
}
.deals-header,
.arrow-down,
.price {
	color: rgb(255, 30, 0);
}
.deals {
	display: flex;
	justify-content: space-evenly;
}
.deal-item {
	cursor: pointer;
	margin: 1rem;
	padding: 1rem;
	width: fit-content;
}
.item-name {
	font-family: "Lexend Giga", sans-serif;
}
.deal-item-img img {
	height: 200px;
	width: 300px;
}
.deal-item-desc {
	font-size: 1.2rem;
}
.see-more-btn {
	background-color: rgb(255, 30, 0);
	border: none;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	outline: none;
	font-size: 1.2rem;
	padding: 1rem;
	margin-top: 2rem;
}
.see-more-btn:hover {
	background-color: rgb(192, 22, 0);
}

/* About section */
#about-section {
	background-color: rgb(245, 245, 245);
	padding: 2em;
	text-align: center;
	font-size: 1.2rem;
}
.cruising-wheels-header {
	font-family: "Lexend Giga", sans-serif;
	color: #000;
	font-size: 2rem;
	font-weight: 800;
}
.about-header,
.about-body {
	padding: 0.5rem;
}
.about-header {
	color: rgb(255, 30, 0);
	font-size: 2.2rem;
}
.logo-img {
	display: block;
	margin: 10px auto;
}
.about-img {
	margin: 10px auto;
	width: 80%;
}

/* Transitions */
.fade-transition {
	opacity: 0;
	transition: opacity 300ms ease-in;
}
.fade-transition.appear {
	opacity: 1;
}

/* Contact Section */

.contact {
	background-image: url("http://images.summitmedia-digital.com/topgear/images/2020/04/16/2020-rebel-500-gallery-main-1587010596.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: left;
	padding: 2rem 2rem;
}
.contact-data {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1rem;
	margin: 1rem;
	color: #fff;
	float: left;
	height: 400px;
	width: 600px;
}
.contact-data i {
	color: #fff;
}
.contact-data textarea {
	background: none;
	outline: none;
	color: #fff;
	border: 2px solid rgba(240, 240, 240, 0.8);
	padding: 0.5rem;
	height: 150px;
	width: 100%;
	resize: none;
}
.contact textarea:focus {
	border-color: #fff;
}
.contact-data input {
	outline: none;
	border: 2px solid rgba(240, 240, 240, 0.8);
	background: none;
	padding: 0.2rem;
	color: #fff;
	width: 100%;
}
.contact input:focus {
	border-color: #fff;
}

.submit-btn {
	background: none;
	border: 2px solid rgba(240, 240, 240, 0.8);
	padding: 0.2rem;
	cursor: pointer;
	color: rgba(240, 240, 240, 0.8);
	float: right;
	outline: none;
	margin: 0.2rem;
}
.submit-btn:hover {
	border-color: #fff;
	color: #fff;
}

/* Footer section */
.footer {
	background-color: #000;
	text-align: center;
	height: 8rem;
	color: #fff;
	padding: 1rem;
}
.social-media-icons i {
	color: #fff;
	cursor: pointer;
	margin: 0 1rem 1rem;
}

.footer .cruising-wheels-header {
	color: #fff;
	font-size: 1rem;
}

/* Media Query */
@media (max-width: 960px) {
	header {
		background-color: #fff;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
	}
	.logo a,
	.list-item {
		color: #000;
	}
	.main-nav {
		width: 100%;
	}
	.toggle-menu {
		color: #000;
		display: inline-block;
		top: 1rem;
	}
	.nav-list {
		display: none;
		flex-direction: column;
	}
	.nav-list.active {
		color: #000;
		display: flex;
	}
	.nav-list-item {
		text-align: center;
		cursor: pointer;
		flex-direction: column;
		margin-top: 1rem;
		padding: 1rem;
		width: 100%;
	}
	.nav-list-item:hover {
		background-color: rgba(0, 0, 0, 0.3);
	}
	.deals {
		flex-direction: column;
		justify-content: center;
	}
	.deal-item {
		margin: 0 auto;
	}
	.contact {
		background-position: center;
		height: 54vh;
	}
	.contact-data {
		margin: 0 auto;
		width: 100vh;
	}
	.footer {
		height: 120px;
	}
}
